<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/posts.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <title>Posts</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <section>
            <div>
                <button class="post-buttons" id="addNewPostBtn" onclick="location.href='/addnewpost'">Add new
                    post</button>
                <button class="post-buttons" id="resetBtn">Reset Likes</button>
            </div>
            <% if (posts.length> 0) { %>
                <% posts.forEach(post=> { %>
                    <article>
                        <header class="post-info" onclick="location.href='/singlepost/<%= post.id %>'">
                            <img src="images/userpic.png" alt="User" width="40" height="40">
                            <h4>
                                <%= post.title %>
                            </h4>
                            <p>
                                <%= post.datetime.toLocaleString("en-US", { year: 'numeric' , month: 'short' ,
                                    day: 'numeric' , hour12: false, hour: '2-digit' , minute: '2-digit' }) %>
                            </p>
                        </header>
                        <div onclick="location.href='/singlepost/<%= post.id %>'">
                            <% if (post.picurl) { %>
                                <img src="<%= post.picurl %>" />
                                <% } %>
                                    <p>
                                        <%= post.body %>
                                    </p>
                        </div>
                        <footer>
                            <div class="like-button-enabled">
                                <button class="likeButton" postid="<%= post.id %>" likes="<%= post.likes %>">
                                    <img src="/images/like.png" alt="Like this post" width="30" height="28" />
                                </button>
                                <p>
                                    <%= post.likes %>
                                </p>
                            </div>
                        </footer>
                    </article>
                    <% }) %>
                        <% } else { %>
                            <p>You did not post anything...</p>
                            <% } %>
        </section>
        <%- include('./partials/footer.ejs') %>
</body>

<script>
    $(document).ready(function () {
        document.querySelectorAll(".likeButton").forEach((e) => {
            e.addEventListener("click", () => {
                postid = e.getAttribute("postid");
                likes = e.getAttribute("likes");
                $.ajax({
                    url: "/posts/" + postid,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ likes: (parseInt(likes) + 1) }),
                    success: function (res) {
                        id = res.id
                        $("[postid=" + '"' + id + '"' + "]").attr("likes", parseInt(likes) + 1);
                        $("[postid=" + '"' + id + '"' + "]").siblings("p").text(parseInt(likes) + 1);
                        $("[postid=" + '"' + id + '"' + "]").parent().removeClass("like-button-enabled button");
                        $("[postid=" + '"' + id + '"' + "]").parent().addClass("like-button-disabled button");
                        $("[postid=" + '"' + id + '"' + "]").attr("disabled", true);
                    }
                });
            })
        });

        document.querySelector("#resetBtn").addEventListener("click", () => {
            document.querySelectorAll(".likeButton").forEach((e) => {
                postid = e.getAttribute("postid");
                $.ajax({
                    url: "/posts/" + postid,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ likes: 0 }),
                    success: function (res) {
                        id = res.id
                        $("[postid=" + '"' + id + '"' + "]").attr("likes",  0);
                        $("[postid=" + '"' + id + '"' + "]").siblings("p").text("0");
                        $("[postid=" + '"' + id + '"' + "]").parent().removeClass("like-button-disabled button");
                        $("[postid=" + '"' + id + '"' + "]").parent().addClass("like-button-enabled button");
                        $("[postid=" + '"' + id + '"' + "]").attr("disabled", false);
                    }
                });
            })
        })
    })
</script>

</html>